
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
    --primary-color: #495669d2;
    --primary-color-dark: #00ABB3;    
    --button-color: #5433FF;
    --button-color-shadow: #5433FF30;
    --text-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
}

.background {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    opacity: 0.5;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: auto;
}

.container {
  display: flex;
  background-color: #1F252E;
  width: 100vw;
  max-height: 100vh;
}

body {
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Poppins', sans-serif;
  max-height: 100vh;
  background-color: #1F252E;
  
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--primary-color);
    width: 18rem;
    padding: 1.8rem 0.85rem;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    transition: width 0.5s ease-in-out;
}

.main-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
}

.main-content-card{
  display: flex;
  align-items: center;
  margin: 5rem auto;
  flex-direction: column;
}


.sidebar-top {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.sidebar-top .logo {
  position: relative;
  width: 54px;
  margin-right: 1.45rem;
  left: -1px;
}

.sidebar-top h2 {
  padding-left: 0.5rem;
  font-weight: 600;
  font-size: 1.4rem;
}

.expand-btn {
  position: absolute;
  top: 50%;
  width: 45px;
  height: 45px;
  display: grid;
  place-items: center;
  background-color: var(--button-color);
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 3px 10px -3px var(--button-color-shadow);
  right: -3rem;
  transform: translateY(-50%) translateX(-8px);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}


nav:hover .expand-btn,
.expand-btn.hovered {
  transform: translateY(-50%) translateX(0px);
  opacity: 1;
  pointer-events: all;
}

.sidebar-links ul {
  list-style-type: none;
  position: relative;
 
}

.sidebar-links li {
  position: relative;
}

.sidebar-links li a {
  padding: 12px;
  color: var(--text-color);
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  height: 56px;
  text-decoration: none;
  color: #fff;
}

.icon {
  display: flex;
  align-items: center;
}

.icon img {
  width: 26px;
  height: 26px;
  margin: auto;
}

.sidebar-links .link {
  margin-left: 40px;
}

.sidebar-links .active {
  width: 100%;
  text-decoration: none;
  background-color: var(--primary-color-dark);
  transition: all 100ms ease-in;
  border-radius: 10px;
}

body.collapsed nav {
  width: 80px;
}

body.collapsed .hide {
  opacity: 0;
  pointer-events: none;
  transition-delay: 0s;
}

body.collapsed .expand-btn img {
  transform: rotate(-180deg);
}

section {
  margin: 2rem 8.5rem;
  
}
.main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  
}

.detail {
  margin-right: 100px;
}

.main h1 {
  font-size: 5rem;
  font-weight: 600;
  /* animation: check 1s ease forwards;
  animation-delay: .1s; */
  color: #fff;
}


.main p {
  margin-top: 1rem;
  font-size: .98rem;
  color: #fff;
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem;
  margin-top: 1.7rem;
}

.social a {
  color: #00E8F8;
  font-size: 1.5rem;
  border-radius: 50%;
  padding: .35rem;
  text-align: center;
}

.social a:hover {
  color: #1F252E;
  background-color: #00E8F8;
  box-shadow: 0 0 20px #00E8F8;
  transition: all .3s ease-in-out;
}

.main h1 span:nth-child(1) {
  font-size: 2rem;
}

.main h1 span:nth-child(2) {
  color: #00E8F8;
}

.images {
  background-image: url(/img/graph5.png);
  background-repeat: no-repeat;
  background-position: 0 -75px;
  -webkit-box-shadow: 0 10px 10px -10px #000000;
  -moz-box-shadow: 0 10px 10px -10px #000000;
  box-shadow: 0px 16px 4px -10px #00E8F8;
  width: 528px;
  background-size: cover;
}

h2 {
  color:#00E8F8;
}


.grid-container{
  display: flex;
  flex-wrap: wrap; 
  margin: 2rem 8.5rem;
  align-items: center;
}

/*.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  width: 100%;
}*/


.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 400px;
  margin-bottom: 20px;
  height: auto;
  margin-right: 20px;
}

.card-header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.card-content {
  margin-bottom: 10px;
  color: #fff;
}

.card-link {
  text-decoration: none;
  color: blue;
}



label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
textarea,
input[type="email"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="submit"],
input[type="reset"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #0056b3;
}

.form-input{
  width: 300px;
}

.button-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.button-62 {
    width: 120px;
    margin: 0.5rem;
    background: linear-gradient(to bottom right, #00ABB3, #3C4048);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62-red {
  width: 120px;
  margin: 0.5rem;
  background: linear-gradient(to bottom right, #b32a00, #3C4048);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62-red:not([disabled]):focus {
box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62-red:not([disabled]):hover {
box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}