.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    width: 1084px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    width: 500px;
    margin-bottom : 30px;
    height: auto;
}

.card-header {
    font-weight: bold;
    margin-bottom: 5px;
}

.card-content {
    margin-bottom: 10px;
}

.card-link {
    text-decoration: none;
    color: blue;
}
